/Examen_2_Inge_Barrantes_Kevin/obj/*
/Examen_2_Inge_Barrantes_Kevin/.vs
/Examen_2_Inge_Barrantes_Kevin/Examen_2_Inge_Barrantes_Kevin/obj/*
/Examen_2_Inge_Barrantes_Kevin/Examen_2_Inge_Barrantes_Kevin/bin/*
packages/*
.vs/*
*/bin/*
Examen_2_Inge_Barrantes_Kevin.Tests/bin/*
Examen_2_Inge_Barrantes_Kevin.Tests/obj/*
